 /* Main Text Size */

body{
font-size:22px;
line-height:1.9;
}

/* Main Heading */

.hero h1{
font-size:65px;
font-weight:800;
}

/* Subtitle */

.hero p{
font-size:26px;
}

/* Welcome Box */

.welcome-card h2{
font-size:38px;
}

.welcome-card p{
font-size:22px;
}

/* Section Title */

.section-title{
font-size:38px;
font-weight:700;
}

/* Subject Cards */

.subject-card{
padding:35px;
}

.subject-card span{
font-size:24px;
font-weight:700;
}

/* Chapter Pages */

h1{
font-size:48px;
margin-bottom:20px;
}

h2{
font-size:34px;
margin-top:25px;
margin-bottom:15px;
}

h3{
font-size:28px;
margin-top:20px;
margin-bottom:10px;
}

p{
font-size:22px;
line-height:1.9;
margin-bottom:15px;
}

li{
font-size:22px;
line-height:1.9;
margin-bottom:10px;
}

/* Mobile */

@media(max-width:768px){

.hero h1{
font-size:42px;
}

.hero p{
font-size:20px;
}

h1{
font-size:34px;
}

h2{
font-size:28px;
}

h3{
font-size:24px;
}

p,
li{
font-size:20px;
}

.subject-card span{
font-size:20px;
}

}
